<!--The content below is only a placeholder and can be replaced.-->
<div class="logo" layout="row">

  <img src="../assets/images/natspd.png">

  <h3>{{ tagline }}</h3>

  <ul class="social" layout="column" layout-align="center">

    <li><img src="../assets/images/facebook_ring.png"></li>

    <li><img src="../assets/images/instagram_ring.png"></li>

    <li><img src="../assets/images/youtube_ring.png"></li>

  </ul>

  <div class="arrow">

    <img src="../assets/images/down_arrow2.png">

  </div>

</div>




<h2>Here are some links to help you start: </h2>

<ul>

  <li>

    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>

  </li>

  <li>

    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>

  </li>
  <li>

    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>

  </li>

</ul>

